/* 
0 - 600px    :     Phone
600 - 900px  :    Tablet Portrait
900 - 1200px :    Tablet Landscape
1200 - 1800px:    Where this style applies
1800px +     :    Big Desktop

$breakpoint argument choices
- phone
- tab-port
- tab-land
- big-desktop

ORDER : Base + typograpy > general layout + grid > page layout > componenets
1em = 16px

*/
@import url("https://fonts.googleapis.com/css2?family=Bellota+Text:wght@300;400;700&family=Monoton&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  font-family: "Bellota Text", cursive;
  font-weight: 400; }

.section-heading {
  font-size: 10rem;
  font-weight: bold;
  text-transform: uppercase;
  color: gray;
  text-align: center;
  opacity: 0.5;
  text-shadow: 2rem 2rem 4rem #aaa; }
  @media only screen and (max-width: 56.25em) {
    .section-heading {
      font-size: 7rem; } }

.floating-bg {
  height: 150vw;
  width: 150vw;
  position: absolute;
  top: -125vw;
  left: calc(50% - 75vw);
  background-color: rgba(50, 231, 255, 0.8);
  border-radius: 45%;
  animation: rotate 30s infinite;
  z-index: -1; }
  .floating-bg::after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 40%;
    background-color: rgba(50, 231, 255, 0.1);
    animation: rotate 30s infinite; }

@keyframes rotate {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 1rem 0;
  height: 15rem; }
  .navbar__link {
    text-decoration: none;
    font-size: 2.2rem;
    font-weight: 700;
    letter-spacing: 0.2rem;
    display: inline;
    word-wrap: break-word;
    width: 1rem;
    height: 15rem;
    transition: all 0.3s;
    color: #fff;
    text-align: center; }
    .navbar__link:hover {
      width: 15rem;
      transition: all 1s;
      background-color: rgba(255, 255, 255, 0.2); }

.header {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }
  .header__heading {
    font-size: 8rem;
    font-family: "Monoton", cursive;
    text-shadow: 0.3rem 0.3rem 0.3rem #313131;
    color: #fff;
    background-color: #fff;
    text-align: center;
    padding: 0.8rem 1.6rem;
    border-radius: 0.8rem;
    opacity: 0.9; }
    @media only screen and (max-width: 56.25em) {
      .header__heading {
        font-size: 7rem; } }
  .header__logo i {
    font-size: 15rem;
    color: rgba(50, 231, 255, 0.8);
    text-shadow: 0.1rem 0.1rem 0.2rem #ddd, -0.1rem -0.1rem 0.2rem #ddd; }

.section-2 {
  padding: 10rem 0; }

.customers-wrapper {
  margin-top: 10rem;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 10rem; }

.customer {
  max-width: 30rem;
  padding: 2rem;
  gap: 3rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  background-color: #eee;
  border-radius: 0.5rem;
  padding: 2rem;
  box-shadow: 1rem 1rem 2rem #ddd, -1rem -1rem 2rem #eee;
  transition: box-shadow 0.5s;
  flex-basis: 40rem; }
  .customer-text {
    font-size: 1.8rem;
    text-align: justify; }
  .customer > i {
    font-size: 4rem;
    color: #f08e0f; }
  .customer-rating {
    display: flex; }
    .customer-rating i {
      font-size: 2rem;
      color: #f08e0f; }
  .customer-img {
    height: 10rem;
    width: 10rem;
    object-fit: cover;
    border-radius: 50%; }
  .customer-name {
    font-size: 2rem; }
  .customer:nth-child(1) {
    transform: translateY(3rem); }
  .customer:nth-child(3) {
    transform: translateY(-3rem); }

.section-3 {
  padding: 10rem 0; }

.team-container {
  margin-top: 10rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 10rem; }

.team-member {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3rem;
  padding: 3rem;
  background-color: #fffeee;
  box-shadow: 1rem 1rem 2rem #ddd, -1rem -1rem 2rem #eee;
  position: relative;
  flex-basis: 40rem; }
  .team-member__img {
    width: 30rem;
    height: 30rem;
    object-fit: cover; }
  .team-member__name {
    color: #796717;
    font-size: 2.3rem;
    font-weight: 700; }
    .team-member__name span {
      font-size: 1.7rem; }
  .team-member__skills {
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: #505050; }
  .team-member__projects-btn {
    color: white;
    background-color: #fab34a;
    padding: 0.5rem 1.5rem;
    border-radius: 3rem;
    text-decoration: none;
    font-size: 1.7rem; }
  .team-member:nth-child(1) {
    transform: translateY(3rem); }
  .team-member:nth-child(3) {
    transform: translateY(-3rem); }

.story {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(253, 69, 69, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
  transform: scale(0);
  transform-origin: top right;
  border-radius: 50rem 0 50rem 50rem;
  transition: all 0.5s; }
  .story__heading {
    font-size: 4rem;
    font-weight: 700;
    color: #fff; }
  .story__para {
    font-size: 1.8rem;
    color: #eee;
    text-align: justify;
    letter-spacing: 0.1rem;
    text-indent: 2rem; }

.story-checkbox {
  display: none; }

.story-btn {
  display: inline-block;
  height: 4rem;
  width: 4rem;
  background-color: #212121;
  border-radius: 50%;
  position: absolute;
  top: -1rem;
  right: -1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  z-index: 10; }
  .story-btn__line {
    width: 3rem;
    height: 0.2rem;
    background-color: #eee;
    transition: transform 0.3s; }

.story-checkbox:checked ~ .story-btn {
  background-color: #545454; }

.story-checkbox:checked ~ .story-btn .story-btn__line {
  transform: rotate(450deg); }

.story-checkbox:checked ~ .story {
  transform: scale(1);
  border-radius: 0; }

.section-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8rem;
  padding: 10rem 0; }

.form {
  width: 80%;
  height: 20%;
  background-color: #e5e9ff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  perspective: 100rem;
  box-shadow: 0.3rem 0.3rem 0.4rem #ccc, -0.1rem -0.1rem 0.4rem #ccc;
  border-radius: 0.5rem; }
  .form__img {
    width: 55rem;
    background-color: rgba(50, 231, 255, 0.8);
    padding: 5rem;
    box-shadow: -3rem 3rem 4rem #aaa;
    border-radius: 0.5rem;
    transform: rotateY(20deg);
    transition: all 0.5s; }
    .form__img:hover {
      transform: rotateY(20deg) translateY(-2rem);
      box-shadow: -5rem 5rem 7rem #aaa; }
  .form__contact {
    width: 45rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 3rem;
    border-radius: 0.5rem;
    box-shadow: 3rem 3rem 4rem #aaa;
    transform: rotateY(-20deg);
    transition: all 0.5s;
    opacity: 0.8; }
    .form__contact:hover {
      transform: translateY(-2rem) rotateY(-20deg);
      box-shadow: 5rem 5rem 7rem #aaa; }
    .form__contact input,
    .form__contact textarea {
      margin: 1rem;
      padding: 1rem;
      font-size: 1.3rem;
      letter-spacing: 0.1rem;
      border: none;
      border-radius: 2rem;
      box-shadow: inset 0.1rem 0.1rem 0.2rem #ddd, inset -0.1rem -0.1rem 0.2rem #ddd;
      outline-color: rgba(50, 231, 255, 0.8); }
    .form__contact textarea {
      max-height: 15rem;
      min-height: 10rem;
      max-width: 100%;
      min-width: 70%; }
    .form__contact input[type="submit"] {
      background-color: rgba(50, 231, 255, 0.8);
      color: #fff;
      font-weight: bolder;
      letter-spacing: 0.5rem;
      cursor: pointer;
      transition: background-color 0.5s; }
      .form__contact input[type="submit"]:hover {
        background-color: #32e7ff; }

.copyright {
  font-size: 2rem;
  letter-spacing: 0.2rem;
  color: #444; }

.scroll-up-btn {
  color: #fff;
  font-size: 2rem;
  background-color: #33e7ff;
  position: fixed;
  bottom: 5rem;
  right: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  text-decoration: none;
  transition: all 0.3s; }
  .scroll-up-btn:hover {
    background-color: #66edff; }
