@import url("https://fonts.googleapis.com/css2?family=Bellota+Text:wght@300;400;700&family=Monoton&display=swap");

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
}

html {
    font-size: 62.5%; // 1 rem = 10 px; 10px/16px = 62.5
    scroll-behavior: smooth;
    font-family: "Bellota Text", cursive;
    font-weight: 400;
    // @include respond(tab-land) {
    //    font-size: 56.25%; //1 rem = 9px; 9/16=
    // }
    // @include respond(tab-port) {
    //    font-size: 50%; //1 rem = 8px; 8/16=
    // }
    // @include respond(big-desktop) {
    //    font-size: 75%; //1 rem = 12px; 12/16=
    // }
}

.section-heading {
    font-size: 10rem;
    font-weight: bold;
    text-transform: uppercase;
    color: hsl(0, 0%, 50%);
    text-align: center;
    opacity: 0.5;
    text-shadow: 2rem 2rem 4rem #aaa;

    @include respond(tab-port) {
        font-size: 7rem;
    }
}
